@media only screen and (max-width: 1400px) {
  .product-1 {
    width: 310px;
  }

  .products__main--img {
    width: 230px;
  }

  .product-1 h2 {
    color: white;
    font-size: 20px;
    margin-top: 20px;
  }

  .product-1 h3 {
    font-size: 17px;
    color: white;
    text-transform: capitalize;
  }

  .coffee__machine {
    background-color: #161513;
    width: 80%;
  }

.customers__h3 {
  color: white;
}
}

@media only screen and (max-width: 1200px) {
  .product-1 {
    width: 260px;
  }

  .popular__product {
    margin-left: 10px;
  }
  .products__main--img {
    width: 220px;
  }

  .product-1 h2 {
    font-size: 18px;
  }

  .product-1 h3 {
    font-size: 16px;
  }

  .btn__view {
    margin-left: 440px;
  }

  .coffee__info {
    width: 100%;
  }

  .coffee__machine {
    width: 89%;
    margin-left: 70px;
  }

  .coffee__info {
    width: 70%;
  }

  .coffee__img img {
    margin-left: 70px;
    margin-top: -8px;
  }

  .menu__1 {
    width: 100%;
  }

  .menu {
    margin-left: 70px;
  }

  .menuu__p {
    margin-left: 80px;
  }

  .menu h2 {
    margin-left: 90px;
  }

  .left,
  .right {
    width: 430px;
  }

  .both {
    gap: 20px;
  }

  .menu__1 h3 {
    font-size: 14px;
    font-weight: 400;
  }

  .menu__1 p {
    margin-top: 12px;
    margin-left: 100px;
    display: inline;
  }

  .customers__p {
    margin-left: 50px;
  }

  .customers__h3 {
    margin-left: 50px;
  }

  .customer__box {
    width: 440px;
  }

  .customers {
    margin-left: 65px;
  }

  .customer__box p {
    font-size: 13px;
  }

  .customer__box h3 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 992px) {
  .product-1 h2 {
    font-size: 17px;
    font-weight: 400;
  }

  .product-1 h3 {
    font-size: 16px;
    font-weight: 400;
  }

  .products {
    margin-left: 60px;
  }

  .popular__product p {
    margin-left: 60px;
    text-align: center;
  }

  .popular__product h1 {
    margin-left: 90px;
    text-align: center;
  }

  .btn__view {
    margin-left: 395px;
  }

  .coffee__machine {
    width: 840px;
    margin-left: 40px;
  }

  .menu {
    margin-left: 40px;
  }

  .menuu__p {
    text-align: center;
  }

  .menu h2 {
    text-align: center;
  }

  .customers {
    margin-top: 70px;
    width: 80%;
  }

  .customers__p {
    margin-left: 80px;
  }

  .customers__p ~ h3 {
    margin-left: 80px;
  }

  .customer__container {
    margin-left: -37px;
  }

  .customer__box {
    width: 430px;
  }

  .left,
  .right {
    width: 420px;
  }
}

@media only screen and (max-width: 768px) {
  .popular__product p {
    margin-left: 260px;
    text-align: center;
    text-align: center;
    font-size: 20px;
  }

  .popular__product h1 {
    margin-left: 250px;
    text-align: center;
    font-size: 30px;
    width: 400px;
  }

  .product-1 {
    width: 250px;
    height: 430px;
  }

  .products__main--img {
    width: 200px;
  }

  .btn__view {
    font-size: 16px;
    width: 250px;
    margin-left: 350px;
  }

  
}

@media only screen and (max-width: 576px) {
  .popular__product p {
    margin-left: 260px;
    font-size: 28px;
    width: 350px;
  }

  .popular__product h1 {
    margin-left: 170px;
    text-align: center;
    font-size: 40px;
    width: 600px;
  }

  .products {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 250px;
  }

  .product-1 {
    width: 400px;
    height: 560px;
  }

  .product-1 h2 {
    color: white;
    font-size: 28px;
    margin-top: 20px;
  }

  .product-1 h3 {
    font-size: 25px;
    color: white;
    text-transform: capitalize;
  }

  .products__main--img {
    width: 300px;
  }

  .btn__product {
    width: 250px;
    font-size: 25px;
  }

  .btn__view {
    font-size: 14px;
    margin-left: 320px;
    margin-top: 80px;
    font-size: 18px;
  }

  .coffee__machine {
    width: 850px;
    margin-left: 30px;
    height: 400px;
  }

  .coffee__img img {
    width: 170px;
    margin-top: 25px;
  }

  .coffee__info h2 {
    color: white;
    font-family: sans-serif;
    font-size: 32px;
    line-height: 40px;
  }

  .coffee__info p {
    font-size: 22px;
    color: grey;
    font-family: sans-serif;
    margin: 20px 0;
  }

  .btn__machine {
    font-size: 20px;
    width: 250px;
    margin-top: -2px;
  }

  .both {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 25px;
    margin-left: 150px;
  }

  .left,
  .right {
    display: flex;
    flex-direction: column;
    width: 550px;
  }

  .menuu__p {
    margin-left: 380px;
    font-size: 30px;
  }

  .menu h2 {
    font-size: 30px;
    width: 400px;
    margin-left: 230px;
  }

  .menu__1 p {
    font-size: 25px;
  }

  .menu__1 h3 {
    font-size: 22px;
  }

  .menu__1 img {
    width: 100px;
  }

  .customers__p {
    margin-left: 300px;
    font-size: 30px;
  }

  .customers__h3 {
    font-size: 35px;
    width: 500px;
    padding-left: 100px;
    margin-left: 200px;
  }

  .customer__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    margin-left: 100px;
  }

  .customer__box {
    width: 600px;
    height: 320px;
  }

  .customer__box p{
    font-size: 20px;
  }

  .customer__box img{
    width: 180px;
    height: 200px;
  }

  .customer__box h3{
    color: white;
    font-size: 25px;
  }

  .designer {
    font-size: 18px;
  }


}
